{% extends "base.html" %}

{% block media %}
    {% block content_media %}{% endblock %}
{% endblock %}

{% block js_media %}
    {# Clipboard.js - using CDN as local files not available #}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
    {% compress js %}
        {# Tooltip functionality (was libs/clipboard/tooltip.js) - inline minimal version #}
        <script>
            function showTooltip(elem, msg) {
                elem.setAttribute('class', 'btn-clipboard tooltipped tooltipped-s');
                elem.setAttribute('aria-label', msg);
            }
            function fallbackMessage(action) {
                var actionMsg = '';
                var actionKey = (action === 'cut' ? 'X' : 'C');
                if (/iPhone|iPad/i.test(navigator.userAgent)) {
                    actionMsg = 'No support :(';
                } else if (/Mac/i.test(navigator.userAgent)) {
                    actionMsg = 'Press ⌘-' + actionKey + ' to ' + action;
                } else {
                    actionMsg = 'Press Ctrl-' + actionKey + ' to ' + action;
                }
                return actionMsg;
            }
        </script>
        <script type="text/javascript">
            $(function () {
                var info_float = $('.info-float');
                if (info_float.length) {
                    var container = $('#content-right');
                    if (!featureTest('position', 'sticky')) {
                        fix_div(info_float, 55);
                        $(window).resize(function () {
                            info_float.width(container.width());
                        });
                        info_float.width(container.width());
                    }
                }

                window.add_code_copy_buttons = function ($container) {
                    $container.find('pre code').each(function () {
                        var copyButton;
                        $(this).parent().before($('<div>', {'class': 'copy-clipboard'})
                            .append(copyButton = $('<span>', {
                                'class': 'btn-clipboard',
                                'data-clipboard-text': $(this).text(),
                                'title': {{ _('Click to copy')|htmltojs }}
                            }).text({{ _('Copy')|htmltojs }})));

                        $(copyButton.get(0)).mouseleave(function () {
                            $(this).attr('class', 'btn-clipboard');
                            $(this).removeAttr('aria-label');
                        });

                        var curClipboard = new Clipboard(copyButton.get(0));

                        curClipboard.on('success', function (e) {
                            e.clearSelection();
                            showTooltip(e.trigger, {{ _('Copied!')|htmltojs }});
                        });

                        curClipboard.on('error', function (e) {
                            showTooltip(e.trigger, fallbackMessage(e.action));
                        });
                    });
                };
                window.add_code_copy_buttons($(document));
            });
        </script>
    {% endcompress %}
    {% block content_js_media %}{% endblock %}
{% endblock %}

{% block body %}
    <div id="common-content">
        <div id="content-right">
            <div class="info-float">{% block info_float %}{% endblock %}</div>
        </div>
        <div id="content-left" class="split-common-content">
            <div class="content-description screen">
                {% block description %}{% endblock %}
                {% block description_end %}
                    <hr>
                {% endblock %}
                {% block post_description_end %}{% endblock %}
            </div>
            {% block comments %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block bodyend %}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
{% endblock %}
